<br><br><br><br>
<div class="row">
	<div id="centro">
		<h2><i class="fi-megaphone style3"></i> ENTRE EM CONTATO</h2>
    	<h4>Gostaríamos muito de te ouvir. Experimente nossos serviços, faça um orçamento sem compromisso.</h4><br><br>
    </div>

    <div class="large-6 columns verticalLine">
        <h3 align="center"><i class="fi-torso-business style2"></i> Miguel Gomes</h3>
        <h5 align="center"><%= image_tag("cargo.png", size: "35")%> Sócio Proprietário</h5>
        <h5 align="center"><%= image_tag("whats.png", size: "35")%> (71) 9 9729-3137</h5>
        <h5 align="center"><%= image_tag("email.png", size: "35")%> mgomesprojetos@yahoo.com.br</h5>
    </div>
    
    <div class="large-6 columns">
        <h3 align="center"><i class="fi-torso-business style1"></i> Ícaro Senna</h3>
        <h5 align="center"><%= image_tag("cargo.png", size: "35")%> Sócio Gerente</h5>
        <h5 align="center"><%= image_tag("whats.png", size: "35")%> (75) 9 9136-7908</h5>
        <h5 align="center"><%= image_tag("email.png", size: "35")%> icaro_senna@hotmail.com</h5>
        <br>
    </div>
    <hr>
    <br>
    <h5 align="center"><%= image_tag("insta.png", size: "35")%> @depeproducoes</h6>
    <h5 align="center"><%= image_tag("email.png", size: "35")%> depeproducoes@hotmail.com</h6>
    
</div>