<br><br><br><br>
<div class="row">
	<div id="centro">
		<h2><i class="fi-clipboard-notes style2"></i> PROJETOS E PRODUÇÕES EM DESTAQUE</h2>
		<h5>Melhor réveillon do mundo, melhor segunda-feira do mundo, camarote do Harem, São João de Salvador, Trivella, Trinave, Fenagro, Expo Rural, Expo Bahia, Mistura Louka, Show da Virada/15, DVD Parangolé, DVD Maria Cecília e Rodolfo, DVD Harminia 20 anos, DVD Wesley Safadão (Produção), 10 anos Jorge e Mateus Itumbiara, 10 anos TV Tem, Festival Verão Sergipe, Festival Verão SSA (Produção), Planeta Band (Controle de acesso e produção), Salvador Fest, Maroon 5, Villa Mix, Mix Forever, Pirraça São José do Rio Preto, e diversos outros eventos pelo Brasil.</h5><br>
	</div>
	<hr>
	<div class="large-4 small-6 columns">
		<%= link_to image_tag('rio2.jpg'), image_path('rio2.jpg'), :class => "slide-fotos", :title => "Mix Forever Rio 2016", :rel => "um"%>
    	<div class="esconder">
    		<%= link_to image_tag('rio1.jpg'), image_path('rio1.jpg'), :class => "slide-fotos", :title => "Mix Forever Rio 2016", :rel => "um"%>
    		<%= link_to image_tag('mix.jpg'), image_path('mix.jpg'), :class => "slide-fotos", :title => "Mix Forever Rio 2016", :rel => "um"%>
    		<%= link_to image_tag('forta1.jpg'), image_path('forta1.jpg'), :class => "slide-fotos", :title => "Mix Forever Fortaleza 2016", :rel => "um"%>
    		<%= link_to image_tag('forta2.jpg'), image_path('forta2.jpg'), :class => "slide-fotos", :title => "Mix Forever Fortaleza 2016", :rel => "um"%>
    	</div>
		<h5 align="center">Mix Forever</h5>
	</div>

	<div class="large-4 small-6 columns">
		<%= link_to image_tag('est.jpg'), image_path('est.jpg'), :class => "slide-fotos", :title => "Projeto Villa Mix Belo Horizonte 2016", :rel => "dois"%>
    	<div class="esconder">
    		<%= link_to image_tag('est1.jpg'), image_path('est1.jpg'), :class => "slide-fotos", :title => "Montagem estrutural", :rel => "dois"%>
    		<%= link_to image_tag('est2.jpg'), image_path('est2.jpg'), :class => "slide-fotos", :title => "Montagem estrutural", :rel => "dois"%>
    		<%= link_to image_tag('est3.jpg'), image_path('est3.jpg'), :class => "slide-fotos", :title => "Planta de projeto detalhada", :rel => "dois"%>
    		<%= link_to image_tag('plu.jpg'), image_path('plu.jpg'), :class => "slide-fotos", :title => "Colocação de plurigoma", :rel => "dois"%>
    		<%= link_to image_tag('car.jpg'), image_path('car.jpg'), :class => "slide-fotos", :title => "Colocação de carpete", :rel => "dois"%>
    		<%= link_to image_tag('car1.jpg'), image_path('car1.jpg'), :class => "slide-fotos", :title => "Colocação de piso e carpete", :rel => "dois"%>
    		<%= link_to image_tag('eas.jpg'), image_path('eas.jpg'), :class => "slide-fotos", :title => "Colocação de easyfloor", :rel => "dois"%>
    		<%= link_to image_tag('easy.jpg'), image_path('easy.jpg'), :class => "slide-fotos", :title => "Colocação de easyfloor", :rel => "dois"%>
    		<%= link_to image_tag('gra.jpg'), image_path('gra.jpg'), :class => "slide-fotos", :title => "Colocação de gradil", :rel => "dois"%>
    		<%= link_to image_tag('gra1.jpg'), image_path('gra1.jpg'), :class => "slide-fotos", :title => "Posicionamento de gradil", :rel => "dois"%>
    		<%= link_to image_tag('fo.jpg'), image_path('fo.jpg'), :class => "slide-fotos", :title => "Forração malha", :rel => "dois"%>
    	</div>
		<h5 align="center">Projetos</h5>
	</div>

	<div class="large-4 small-6 columns">
		<%= link_to image_tag('porto3.jpg'), image_path('porto3.jpg'), :class => "slide-fotos", :title => "Villa Mix Porto Alegre 2016", :rel => "tres"%>
    	<div class="esconder">
    		<%= link_to image_tag('porto1.JPG'), image_path('porto1.JPG'), :class => "slide-fotos", :title => "Villa Mix Porto Alegre 2016", :rel => "tres"%>
    		<%= link_to image_tag('porto2.jpg'), image_path('porto2.jpg'), :class => "slide-fotos", :title => "Villa Mix Porto Alegre 2016", :rel => "tres"%>
    		<%= link_to image_tag('vil.jpg'), image_path('vil.jpg'), :class => "slide-fotos", :title => "Villa Mix Goiânia 2017", :rel => "tres"%>
    	</div>
		<h5 align="center">Villa Mix</h5>
	</div>
</div>